In [2]:
import numpy as np
import pandas as pd

In [3]:
diamonds = pd.read_csv('./data/diamonds_train.csv.zip')
diamonds_pred = pd.read_csv('./data/diamonds_predict.csv')

In [5]:
diamonds_pred.head()

   id  carat        cut color clarity  depth  table     x     y     z
0   0   0.79  Very Good     F     SI1   62.7   60.0  5.82  5.89  3.67
1   1   1.20      Ideal     J     VS1   61.0   57.0  6.81  6.89  4.18
2   2   1.57    Premium     H     SI1   62.2   61.0  7.38  7.32  4.57
3   3   0.90  Very Good     F     SI1   63.8   54.0  6.09  6.13  3.90
4   4   0.50  Very Good     F     VS1   62.9   58.0  5.05  5.09  3.19

In [6]:
diamonds.describe()

,carat,depth,table,price,x,y,z
count,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000
mean,0.797706,61.752841,57.446133,3928.444469,5.729392,5.732819,3.537154
std,0.475544,1.431725,2.233535,3992.416147,1.124453,1.146650,0.697062
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,945.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2397.000000,5.690000,5.710000,3.520000
75%,1.040000,62.500000,59.000000,5331.000000,6.540000,6.540000,4.035000
max,4.500000,79.000000,95.000000,18823.000000,10.230000,58.900000,8.060000

In [7]:
from sklearn.preprocessing import RobustScaler, StandardScaler

scaler = RobustScaler()
X_numeric_scaled = scaler.fit_transform(diamonds.select_dtypes(include='number'))

In [8]:
pd.DataFrame(X_numeric_scaled).head()

          0         1         2         3         4         5         6
0  0.796875  0.400000  0.333333  0.426585  0.622951  0.593407  0.648889
1 -0.593750  0.800000  0.000000 -0.431373 -0.732240 -0.730769 -0.684444
2  0.015625  2.466667 -0.666667  0.065891 -0.038251 -0.098901  0.115556
3 -0.453125  1.333333 -0.333333 -0.378249 -0.551913 -0.543956 -0.462222
4  0.500000 -0.866667  0.666667  0.566575  0.469945  0.439560  0.382222

In [9]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split


model = DecisionTreeClassifier(max_depth=70, criterion='entropy', min_samples_leaf=1000)
X_train, X_test, y_train, y_test = train_test_split(diamonds)

ValueError: not enough values to unpack (expected 4, got 2)